body {
    background-color: #0C120C;
}

* {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

#editor {
    width: 100%;
    background-color: #330036;
    border: solid  #D81159 1px;
    border-radius: 5px;
    padding: 5px;
    transition: all 1s;
}

textarea:focus {
    border: none;
    outline: none;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    display: block;
}

section {
    width: 50%;
    border: solid 1px #D81159;
}